@import "normalize.css/normalize.css";

body {
  color: color-get("white");
  background-color: color-get("blue");
  font-family: Arvo, Arial, Helvetica, sans-serif;
}

.is-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
