$colors: (
  'white': rgb(255, 255, 255),
  'white.2': rgba(255, 255, 255, 0.2),
  'white.5': rgba(255, 255, 255, 0.5),
  'black': rgb(0, 0, 0),
  'blue': rgb(6, 8, 29),
  'grey': rgb(41, 40, 40),
);

$shadow: 10px -5px 10px color-get('black');
$shadow-hover-anim: 1s linear infinite alternate;
$shadow-hover-from: 0px 0px 20px color-get('white.2');
$shadow-hover-to: 0px 0px 20px color-get('white.5');

@keyframes anim-box-shadow-hover {
  from {
    box-shadow: $shadow-hover-from;
  }
  to {
    box-shadow: $shadow-hover-to;
  }
}

%box-shadow {
  box-shadow: $shadow;

  &:hover {
    animation: anim-box-shadow-hover $shadow-hover-anim;
  }
}

@keyframes anim-text-shadow-hover {
  from {
    text-shadow: $shadow-hover-from;
  }
  to {
    text-shadow: $shadow-hover-to;
  }
}

%text-shadow {
  text-shadow: $shadow;

  &:hover {
    animation: anim-text-shadow-hover $shadow-hover-anim;
  }
}

@keyframes anim-drop-shadow-hover {
  from {
    filter: drop-shadow($shadow-hover-from);
  }
  to {
    filter: drop-shadow($shadow-hover-to);
  }
}
